<!-- <h2>Basic Buttons</h2>
<button mat-button color="primary">primary</button>
<button mat-button color="accent">accent</button>
<button mat-button color="warn">warn</button>
<button mat-button>basic</button>

<h2>Raised Buttons</h2>
<button mat-raised-button color="primary">primary</button>
<button mat-raised-button color="accent">accent</button>
<button mat-raised-button color="warn">warn</button>
<button mat-raised-button>basic</button>

<h2>Stroked Buttons</h2>
<button mat-stroked-button color="primary">primary</button>
<button mat-stroked-button color="accent">accent</button>
<button mat-stroked-button color="warn">warn</button>
<button mat-stroked-button>basic</button>

<h2>Flat Buttons</h2>
<button mat-flat-button color="primary">primary</button>
<button mat-flat-button color="accent">accent</button>
<button mat-flat-button color="warn">warn</button>
<button mat-flat-button>basic</button>

<h2>Icon Buttons</h2>
<mat-icon area-hidden="false" fontIcon="home"></mat-icon>
<mat-icon area-hidden="false" fontIcon="setting">setting</mat-icon>
<mat-icon area-hidden="false" fontIcon="refresh"></mat-icon>
<mat-icon area-hidden="false" fontIcon="toggle_off">toggle_off</mat-icon>

<h2>card</h2>
<mat-card>
  <mat-card-header><h3>Java</h3></mat-card-header>
  <mat-card-content>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae laborum fuga fugit et aspernatur perspiciatis. Velit aliquam quos totam dignissimos.</mat-card-content>
  <mat-card-actions align="end">
  <mat-card-footer>Like Share <button><mat-icon area-hidden="false" fontIcon="home"></mat-icon></button></mat-card-footer>
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->

<form action="">
  <mat-form-field>
    <mat-label>Enter Name</mat-label>
    <input matInput placeholder="Enter Name" type="text">
  </mat-form-field><br>
  <mat-form-field>
    <mat-label>Enter Password</mat-label>
    <input matInput placeholder="Enter Password" type="text">
  </mat-form-field>
  <button mat-button color="primary">Login</button>

  <mat-form-field appearance="outline">
    <mat-label>Select your Card</mat-label>
    <mat-select>
      <mat-option value="Maruti">Maruti</mat-option>
      <mat-option value="Honda">Honda</mat-option>
      <mat-option value="Suzuki">Suzuki</mat-option>
      <mat-option value="Mahendra">Mahendra</mat-option>
      <mat-option value="Hyundai">Hyundai</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<!-- <mat-grid-list gutterSize="5px" cols="2" rowHeight="2:1">
  <mat-grid-tile class="color">1</mat-grid-tile>
  <mat-grid-tile class="color">2</mat-grid-tile>
  <mat-grid-tile class="color">3</mat-grid-tile>
  <mat-grid-tile class="color">4</mat-grid-tile>
</mat-grid-list> -->

<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon fontIcon="menu">menu</mat-icon>
  </button>
  <span>My Brand Name</span>
  <span id="space"></span>
  <button mat-icon-button>
    <mat-icon area-hidden="false" fontIcon="favorite"></mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon area-hidden="false" fontIcon="share"></mat-icon>
  </button>
</mat-toolbar>
<br><br>

<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-icon-button>
    <mat-icon fontIcon="menu">menu</mat-icon>
  </button>
  <span>My Brand Name</span>
  <span id="space"></span>
  <button mat-icon-button>
    <mat-icon area-hidden="false" fontIcon="favorite"></mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon area-hidden="false" fontIcon="share"></mat-icon>
  </button>
</mat-toolbar-row>
<mat-toolbar-row>
<button mat-icon-button>
  <mat-icon area-hidden="false" fontIcon="share"></mat-icon>
</button>
</mat-toolbar-row>
</mat-toolbar>


<br><br>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Java
    </mat-panel-title>
    <mat-panel-description>
      Java is a great language
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus repellat praesentium quod tempora. Et, totam. Recusandae, a obcaecati voluptates autem eveniet ex ea odit inventore amet, ipsum repellat molestias nobis sed iure vero saepe, culpa ad accusamus. Impedit possimus natus aliquid odit ratione, animi expedita omnis quos eaque atque!</p>
</mat-expansion-panel>
<br><br>

<button matTooltip="hrt erh grhb rh dn">click</button>